/*
	Autor:	Christina Nordmann
	Date:	28.05.2015 
 */

/* dies ist die fir die Linkformatierung */
a:link {
	color: black;
	border: 0;
	text-decoration: none;
}

/* Boxen */
#mutterBox {
	background-color: blue;
	height: 1000px;
	width: 2040px;
	margin: auto;
	z-index: 2;
	position: fixed;
}

#meldungBox {
	background-color:yellow;
	height: 100px;
	width: 1024px;
	z-index: 3;
	flex-direction:row;
	top: 15%;
	left: 20%;
	margin-bottom:5px;
/*	margin-top: 75px;
	margin-left: 440px; */
	position: fixed;
}


#inhaltBox {
	background-color: white;
	color: black;
	height: 595px;
	width: 964px;
	margin-top:10px;
	z-index: 3;
	position: fixed;
	top: 30%;
	left: 20%;
	/*  text-align: center; */
	/*opacity: 0.4;*/
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
	font-family: Arial;
}


/* Tabellen */
.tableTitel {
	border: none;
	height: 100px;
	width: 1040px;
	font-size: 35px;
	color: white;
	text-align: center;
}

.tableMenu {
	border: none;
	height: 50px;
	width: 1040px;
	text-align: center;
}

order-table{   
	border-collapse:collapse;
}
 
.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}
 
.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}
 
.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}